@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

main{
    animation: gradient 5s ease-in-out alternate infinite;
    background: linear-gradient(45deg, #EEE8D2, #94C535, #7A413A) no-repeat;
    background-size: 300% 300%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 33.3vh 1fr;
    /*
        t -> top
        l -> left
        m -> mid
        r -> right
        b -> base
    */
    grid-template-areas: "t t t" 
                         "l m r"
                         "b b b";
    justify-content: center;
    color: white;
    height: 100vh;
    font-size: 300%;
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

main .maincontainer{
    justify-self: center;
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas: "ti ti ti"
                         "co co co ";
}

main .maincontainer .titulo{
    text-align:center;
}

main .container{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

main .maincontainer .titulo{
    grid-area: ti;
}

main .maincontainer .titulo h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation: titulo 5s ease-in-out forwards;
    opacity: 0;
}

main .maincontainer .container{
    grid-area: co;
}

main .maincontainer .container #instagram{
    grid-area: in;
    opacity: 0;
    animation: icon_instagram 1s ease-in-out forwards;
    animation-delay: 0s;
}

main .maincontainer .container #home{
    grid-area: ho;
    opacity: 0;
    animation: icon_home 1s ease-in-out forwards;
    animation-delay: 1s;
}

main .maincontainer .container #text{
    grid-area: te;
    opacity: 0;
    animation: icon_text 1s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes gradient{
    from{
        background-position: 0 50%;
    }

    to{
        background-position: 100% 50%;
    }
}

@keyframes titulo{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes icon_instagram{
    from{
        transform: translateX(-50%);
    }

    to{
        transform: translateX(-33.4%);
        opacity: 1;
    }
}

@keyframes icon_home{
    from{
        transform: translateX(-50%);
    }

    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes icon_text{
    from{
        transform: translateX(-50%);
    }

    to{
        transform: translateX(50%);
        opacity: 1;
    }
}

@media (min-width : 791px) and (max-width : 1082px){
    main .maincontainer{
        height: 200px;
    }
    h1{
        font-size: 70px;
    }
}

@media (min-width : 528px) and (max-width : 790px){
    main .maincontainer{
        height: 130px;
        margin-top: 6vh;
    }
    h1{
        font-size: 100%;
    }
}

@media (max-width : 527px){
    main .maincontainer{
        height: 70px;
        margin-top: 10vh;
    }
    h1{
        font-size: 60%;
    }
}