@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

main{
    animation: gradient 5s ease-in-out alternate infinite;
    background: linear-gradient(45deg, #EEE8D2, #94C535, #7A413A) no-repeat;
    background-size: 300% 300%;
    color: white;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

h1{
    font-size: 400%;
}

main .maincontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

main .maincontainer .container{
    display: flex;
    width: 469px;
}

main .maincontainer .titulo h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation: titulo 5s ease-in-out forwards;
    opacity: 0;
}

main .maincontainer .container #instagram{
    text-align: left;
    width: 156.3px;
    opacity: 0;
    animation: icon_instagram 1s ease-in-out forwards;
    animation-delay: 0s;
}

main .maincontainer .container #home{
    text-align: center;
    width: 156.3px;
    opacity: 0;
    animation: icon_home 1s ease-in-out forwards;
    animation-delay: 1s;
}

main .maincontainer .container #text{
    text-align: right;
    width: 156.3px;
    opacity: 0;
    animation: icon_text 1s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes gradient{
    from{
        background-position: 0 50%;
    }

    to{
        background-position: 100% 50%;
    }
}

@keyframes titulo{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes icon_instagram{
    from{
        transform: translateX(-50px);
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes icon_home{
    from{
        transform: translateX(-50px);
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes icon_text{
    from{
        transform: translateX(-50px);
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@media (min-width : 351px) and (max-width : 500px){
    h1{
        font-size: 250%;
    }

    main .maincontainer .container{
        width: 293px;
    }

    main .maincontainer .container #instagram{
        width: 97.6px;
    }
    
    main .maincontainer .container #home{
        width: 97.6px;
    }
    
    main .maincontainer .container #text{
        width: 97.6px;
    }
}

@media (max-width : 350px){
    h1{
        font-size: 200%;
    }

    main .maincontainer .container{
        width: 234px;
    }

    main .maincontainer .container #instagram{
        width: 78px;
    }
    
    main .maincontainer .container #home{
        width: 78px;
    }
    
    main .maincontainer .container #text{
        width: 78px;
    }
}